{% extends 'base.html' %}

{% block head %} 
	<title>Delete Page</title>
{% endblock %}

{% block body %} 

	<form action="/form_goto_login_page" method="post">
		<div class="right_corner">
			<input type="submit" name="login_button" class="button" value="Login Page">
		</div>
	</form>

	<div>
		<h1>Delete</h1>
	</div>

	<div>
		<form action="/form_delete" method="post">
			Username:<br>
			<input type="text" name="username"><br>
			Password:<br>
			<input type="password" name="password"><br><br>
			<input type="submit" name="delete_button" class="button" value="Delete">
		</form>
	</div>

	<div>
		<h1>{{status}}</h1>
	</div>

{% endblock %}