{% extends 'base.html' %}

{% block head %} 
	<title>Login Page</title>
{% endblock %}

{% block body %} 

	<div>
		<form action="/form_login" method="post">

			<div class="right_corner">
				<input type="submit" name="admin_button" class="button" value="Admin">
			</div>

			<div>
				<h1>Welcome to BlogSpot</h1>
			</div>

			Username:<br>
			<input type="text" name="username"><br>

			Password:<br>
			<input type="password" name="password"><br><br>

			<input type="submit" name="login_button" class="button" value="Login">
			<input type="submit" name="register_button" class="button" value="Register">
			<input type="submit" name="delete_button" class="button" value="Delete">

		</form>
	</div>

	<div>
		<h2>{{status}}</h2>
	</div>
	
{% endblock %}